.password_input{
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.password_modal{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info_block{
  display: flex;
  align-content: center;
  gap: 15px;
  padding: 10px 20px;
  background-color: var(--bg-color);
  border-radius: 10px;

  & > svg {
    width: 25px;
  }

  & > p{
    width: 100%;
    color: #D9143B;
    font-size: 15px;
  }
}