.password_input{
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.password_modal{
  display: flex;
  flex-direction: column;
}

.change_password_panel{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.session_confirm_panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  
  & .session_confirm_inner{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 6px;
  }
  
  & .send_verification_code{
    font-size: 15px;
    color: var(--button-primary-color);
    
    &:hover{
      text-decoration: underline;
    }
    
    &.resend_disabled{
      color: #5a5e73;
      cursor: default;

      &:hover{
        text-decoration: none;
      }
    }
  }
}



.info_block{
  display: flex;
  align-content: center;
  gap: 15px;
  background-color: var(--bg-color);
  border-radius: 10px;

  & > svg {
    width: 30px;
  }
  
  & path:first-child{
    stroke: #D9143B;
  }

  & path:last-child{
    fill: #D9143B;
  }

  & > p{
    width: 100%;
    color: #D9143B;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0;
  }
}