.navbarTerminal{
  height: 45px;
  display: flex;
  align-items: center;
  width: calc(100vw - var(--navbar-width) - 10px);
  overflow-y: hidden;
}

.session_tabs{
  display: flex;
  align-items: center;
  margin: 0 7px;
  gap: 5px;
  overflow-y: auto;

  &:hover::-webkit-scrollbar{
    height: 5px;
  }

  &::-webkit-scrollbar{
    height: 5px;
  }

  &::-webkit-scrollbar-track{
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb{
    background-color: rgba(130, 138, 168, 0.66);
    border-radius: 5px;
  }
  
  & .open_session_block{
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0 10px;
    
    & .line{
      height: 17px;
      width: 1px;
      border-radius: 2px;
      background-color: var(--line);
    }

    .open_session{
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      transition: all .3s;
      border-radius:8px;

      & .plus_icon path{
        fill: var(--terminal-plus-icon-color);
      }

      &:hover{
        & .plus_icon path{
          fill: var(--terminal-plus-icon--hover-color);
        }

        background-color: rgba(255, 255, 255, 0.09);
      }
    }

  }
  
  & .session_tab{
    min-width: 150px;
    height: 28px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 2px;
   
    &:hover{
      filter: brightness(140%);
    }
    
    &.isLight:hover{
      filter: brightness(90%);
    }
    
    &:not(.selected){
      margin-top: 2px;
    }
    
    &.selected{
      background-color: var(--terminal-tab-hover-bg-color);
      border-bottom: 2px solid var(--terminal-tab-selected-text-color);
      margin-bottom: 0;

      & .terminal_icon path {
        fill: var(--terminal-tab-selected-text-color) !important;
      }

      & .session_title{
        color: var(--terminal-tab-selected-text-color);
      }
    }
    
    & .session_tab_inner{
      display: flex;
      gap: 5px;
      align-items: center;

      & .terminal_icon path{
        fill: #a2a2a2;
      }
    }
    
    & .session_title{
      font-size: 12px;
      color: var(--terminal-tab-text-color);
      font-weight: 500;
    }
    
    & .close_session{
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      
      &:hover{
        background-color: rgba(255, 255, 255, 0.09);
      }
      
      & path{
        stroke: var(--terminal-tab-text-color);
      }
    }
  }
}

.loader{
  width: 20px;
  height: 20px;


  & div{
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-color: var(--primary-color) transparent;
  }
}


