.terminalPage{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  border-left: 2px solid var(--main-page-color-line);
  position: relative;
  
  &.information{
    align-items: center;
    justify-content: center;
  }
}

.header{
  flex-shrink: 0;
  width: 100%;
  background-color: var(--terminal-header-bg-color);
}

.main{
  height: 100%;
}

.footer{
  
}



.loader > div{
  width: 60px;
  height: 60px;
  border-width: 2px;
  border-color: var(--loader-color) transparent;
}

.terminal_loader > div{
  width: 60px;
  height: 60px;
  border-width: 2px;
  position: absolute;
  top: 50%;
  left: calc(50% - 20px);
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-color: var(--loader-color) transparent;
}