.navbar{
    min-width: 180px;
    height: 100vh;
    background: var(--bg-color-auth);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background-color: var(--bg-color-inverted);
}

.common_block{
    height: 35px;
    width: 100%;
    border-bottom: 1px solid var(--line);
    padding: 0 20px 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.common_block path{
    fill: var(--setting-button-color);
}

.personal{
    font-size: 14px;
}

.nav_items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 18px;
    width: 100%;
    border-bottom: 1px solid var(--line);
}

.server path{
    fill: var(--setting-button-color);
    stroke: var(--setting-button-color);
}

.sftp .folder{
    fill: var(--setting-button-color);
}

.sftp svg{
    top: 2px;
}

.snippets h1{
    color: var(--setting-button-color);
    font-size: 18px;
    margin-top: -1px;
}

.loader{
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-color: white transparent;
}

