.navbar{
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg-color-auth);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-end;
    gap: 20px;
}

