.navbar{
    min-width: var(--navbar-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background-color: var(--navbar-bg-color);
}

.common_block{
    height: 35px;
    width: 100%;
    border-bottom: 1px solid var(--line);
    padding: 0 20px 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    color: var(--navbar-text-color);
}

.common_block path{
    fill: var(--navbar-text-color);
}

.personal{
    font-size: 14px;
}

.nav_items{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px 8px 10px;
    width: 100%;
    border-bottom: 1px solid var(--line);
}

.server path{
    fill: var(--navbar-text-color);
   
}

.sftp .folder{
    fill: var(--navbar-text-color);
}

.sftp svg{
    top: 2px;
}

.snippets h1{
    color: var(--navbar-text-color);
    font-size: 18px;
    margin-top: -1px;
    height: 21px;
    width: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    text-align: center;
    line-height: 21px;
    flex-shrink: 0;
}

.loader{
    width: 20px;
    height: 20px;
}

.loader > div{
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-color: white transparent;
}

