.sftpCatalogSwitcher{
  display: flex;
  gap: 7px;
  align-items: center;
  
  & button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    border-radius: 5px;
    cursor: default;
    
    &.active{
      cursor: pointer;
    }

    &.active:hover{
      background-color: var(--sidebar-back-button-hover-color);
    }
    
    &.active .arrow_icon{
      & path{
        stroke: var(--text-color);
        fill: var(--text-color);
      }
    }
  }
  
  & .arrow_icon{
    width: 20px;
    height: 20px;
    
    & path{
      stroke: #8D90A5;
      fill: #8D90A5;
    }
  }
  
  & .next_button{
    transform: rotate(180deg);
  }
}