.sftpFileCatalog{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-color);
}

.catalog_inner{
  width: 100%;
  max-height: calc(100vh - 155px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  &::-webkit-scrollbar{
    width: 5px;
  }

  &::-webkit-scrollbar-track{
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb{
    background-color: rgba(90, 94, 115, 0.57);
    border-radius: 5px;
  }
}

.catalog_columns{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 13px;
  font-size: 12px;
  background-color: var(--search-input-bg-color);

  & > .column {
    padding: 10px 0;
    font-weight: 500;
    color: #8D90A5;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  & .title_column{
    width: 162px;
  }

  & .date_column{
    width: 135px;
    padding-left: 10px;
    border-left: 1px solid var(--bg-color);

    &.hidden{
      display: none;
    }
  }

  & .size_column{
    width: 65px;
    padding-left: 10px;
    border-left: 1px solid var(--bg-color);
  }

  & .format_column{
    border-left: 1px solid var(--bg-color);
    padding-left: 10px;
    width: 85px;
  }
}

.arrow_icon{
  width: 14px;
  height: 14px;
  transform: rotate(90deg);
  margin-bottom: -1px;
  
  &.reverse{
    transform: rotate(90deg) scale(-1, 1);
  }
  
  & path{
    fill: #8D90A5;
    stroke: transparent;
  }
}

.loader{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.loader > div{
  width: 60px;
  height: 60px;
  border-width: 2px;
  border-color: var(--loader-color) transparent;
}









