.sftpFileCatalog{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-color);
}

.catalog_inner{
  width: 100%;
  max-height: calc(100vh - 155px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  &::-webkit-scrollbar{
    width: 5px;
  }

  &::-webkit-scrollbar-track{
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb{
    background-color: rgba(90, 94, 115, 0.57);
    border-radius: 5px;
  }
}

.catalog_columns{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.loader{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.loader > div{
  width: 60px;
  height: 60px;
  border-width: 2px;
  border-color: var(--loader-color) transparent;
}