.signup_page{
    background-color: var(--bg-color-inverted);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: start;
    align-items: center;
    padding-top: 100px;
}

.signup_page a{
    color: #2091f6;
    text-decoration: underline;
}

.signup_page a:hover{
    color: #73b9f8;
}

.signup_page input{
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    font-size: 16px;
    min-height: 36px;
    font-family: var(--font-family-main);
    font-weight: 500;

    &.error{
        border-color:#F25E61;
    }
}

.signup_page input::placeholder{
    font-size: 15px;
    font-weight: 500;
    color: rgb(168 168 168 / 66%);
}

.signup_page input:focus{
    border: 1px solid #2091F6;
    border-radius: 5px;
}

.signup_form{
    background-color: var(--bg-color);
    padding: 30px;
    min-width: 520px;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgb(0 0 0 / 5%) 0 10px 25px;
    border-radius: 20px;
    position: relative;
}

.form_inner{
    display: flex;
    flex-direction: column;
    gap:15px;
 
}

.header{
    font-size: 22px;
    font-weight: 900;
    font-family: var(--font-family-main);
    margin: 10px 0 5px;
    line-height: 1.5; 
}

.navigation_login{
    color: #798C94;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
}

.info_block{
    display: flex;
    align-content: center;
    gap: 15px;
    padding: 10px 20px;
    background-color: #F7F9FA;
    border: 1px solid #E6EBED;
    border-radius: 10px;
    
    & > svg {
        width: 25px;
    }

   & > p{
        width: 100%;
        color: black;
        font-size: 15px;
    }
}



.login_link{
    font-weight: 600;
}

.recover_password{
    text-align: center;
}

.email_input{
    &.error{
        border-color:#F25E61;
    }
}

.password_input{
    &.error{
        border-color:#F25E61;
    }
}

.back_step{
    position: absolute;
    right: 18px;
    top: 18px;
    background-color: transparent;
    border: none;
    color: #7f7f7f;
}

.back_step:hover{
    text-decoration: underline;
}

.timer{
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #2091f6;
}

.timer{
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #2091f6;
}

.time:hover{
    text-decoration: underline;
}

.time_disabled{
    cursor: default;
    color: rgb(127 127 127 / 58%);
}