.main_page{
    height: 100vh;
    width: 100%;
    display: flex;
    border-left: 2px solid var(--main-page-color-line);
    background-color: var(--main-page-bg-color);
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}