.sidebar{
  width: 350px;
  flex: 0 0 auto;
  height: 100vh;
  border-left: 1px solid var(--main-page-color-line);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -2px;
  transform: translateX(352px);
  transition: transform .3s;
  background-color: var(--sidebar-bg-color);
  display: flex;
  flex-direction: column;
  z-index: 90;
  
  
  &.main{
    width: 0;
    position: relative;
    transform: none;
    transition: width .3s;
  }
  
  &.main_active{
    width: 350px;
  }
  
  &.active:not(.main){
    transform: translateX(0px);
  }
  
}

.sidebars .sidebar{
  z-index: 91;
}

.header{
  width: 100%;
  height: 75px;
  background-color: var(--sidebar-header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  flex: 0 0 auto;
}

.header_name{
  font-size: 15px;
  white-space: nowrap;
}

.close_sidebar{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  
  &:hover{
    background-color: var(--sidebar-back-button-hover-color);
  }
  
  & path{
    stroke: var(--text-color);
  }
}

.buttons_panel{
  display: flex;
  gap: 8px;
  align-items: center;
}

.content_block{
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 5px 20px 10px;
  overflow: hidden;
  max-height: calc(100vh - 75px);
}

.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.content_inner{
  height: calc(100vh - 75px - 100px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 6px;
  padding-bottom: 100px;

  &::-webkit-scrollbar{
    width: 5px;
  }

  &::-webkit-scrollbar-track{
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb{
    background-color: rgba(90, 94, 115, 0.57);
    border-radius: 5px;
  }
}

.loader{
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-color: white transparent;
}



@keyframes animate_left_main {
  0% {
    width: 0;
  }
  
  100% {
    width: 350px;
  }
}
