.sftpPage{
  width: 100%;
  height: 100vh;
  background-color: var(--main-page-bg-color);
  border-left: 2px solid var(--bg-color);
  position: relative;
  overflow: hidden;
}

.gutter{
  width: 2px;
  background-color: var(--main-page-color-line);
  padding: 0;
}

.dragger{
  background-color: var(--primary-color);
}

