.terminalSelectHostCatalog{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.select_navbar{
  background-color: var(--navbar-host-bg-color);
  display: flex;
  flex-direction: column;

  & .header_navbar{
    padding: 25px 20px 25px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  & .header_text{
    font-size: 15px;
    font-weight: 600;
  }

  & .search_content{
    width: 100%;
    border-top: 1px solid var(--main-page-color-line);
    border-bottom: 1px solid var(--main-page-color-line);
    padding: 15px 10px;
    display: flex;
    align-items: center;
    gap: 12px;

    & .search_icon{
      width: 17px;
      height: 17px
    }

    & .search_input{
      border: none;
      font-size: 14px;
      width: 100%;

      &::placeholder{
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

.close{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transform: rotate(180deg);

  &:hover{
    background-color: var(--sidebar-back-button-hover-color);
  }

  & path{
    stroke: var(--text-color);
  }
}