.app.dark{
    --bg-color-inverted: #282B3D;
    --bg-color: #1D2033;
    
    --main-page-bg-color: #1D2033;
    
    --loader-color:white;
    
    --navbar-bg-color: #282B3D;
    --navbar-text-color: #FFF;
    
    --navbar-host-bg-color: #282B3D;
    --navbar-host-inverted-bg-color:#282B3D;
    --navbar-options-btn-color:#3E4257;

    --search-input-bg-color:#3E4257;
    --search-connect-bg-color: #32364A;
    
    --text-color: #FFF;
    --inverted-text-color: black;
    --logo-text-color: #FFF;
    
    --line:rgb(255 255 255 / 17%);
    
    --setting-button-color: white;
    
    --main-page-color-line: #171825;
    
    --input-color: #5A5E73;
    
    --select-focus-color:springgreen;
    --select-hover-bg-color: #3E4257;
    --select-hover-color: #FFF;
    --select-bg-color: #212234;
    --select-box-sahdow:rgba(234, 232, 232, 0.11);
    --select-line-color: rgb(255 255 255 / 17%);
    
    --button-primary-color: #23bb6e;
    --button-primary-hover-color: #58C78D;
    
    --sidebar-back-button-hover-color: rgba(255, 255, 255, 0.22);
    --sidebar-bg-color: #1D2033;
    --sidebar-header-bg-color: #282B3D;

    --form-block-bg-color:#282B3D;

    --server-manager-item-bg-color:rgba(141, 141, 141, 0.11);
    --server-manager-item-hover-bg-color: rgba(164, 164, 164, 0.32);

    --navigation-directory-hover-bg-color: rgba(164, 164, 164, 0.14);

    --sftp-menu-bg-color: #272A3B;
    --sftp-menu-box-shadow: 0 0 0 1px #323648;
    
    --file-item-select-bg-color: #282B3D;
    --file-item-row-hover-bg-color:rgba(164, 164, 164, 0.2);

    --notification-panel-bg-color: #282B3D;
    --notification-panel-text-color:#919EA7;
    
    --setting-page-bg-color: #1D2033;
    --setting-page-inverted-bg-color: #282B3D; 
    
    
    --terminal-header-bg-color: #282B3D;
    --terminal-tab-hover-bg-color: rgba(255, 255, 255, 0.11);
    --terminal-tab-bg-color: rgba(255, 255, 255, 0.07);
    --terminal-tab-text-color: #a2a2a2;
    --terminal-tab-selected-text-color:#23BB6EFF;
    --terminal-plus-icon-color: #8A919F;
    --terminal-plus-icon--hover-color:white;
}