.app.dark{
    --inverted-bg-color:#e8e8ea;
    --primary-color:#049604;
    --secondary-color:#51db51;
    --inverted-primary-color:#041c65;
    --inverted-secondary-color:#0151ff;
    --bg-color-inverted: #2c2f42;
    --bg-color: #212234;
    --text-color: #FFF;
    --logo-text-color: #FFF;
    --line:rgb(255 255 255 / 17%);
    --setting-button-color: white;
    --main-page-color-line: #171825;
    --input-color: #5A5E73;
}