.app.light{
    --bg-color:white;
    --bg-color-inverted:#EDF1F2;

    --main-page-bg-color: #EDF1F2;

    --loader-color:#2091F6;
    
    --navbar-bg-color: #282B3D;
    --navbar-text-color: #FFF;

    --navbar-host-bg-color:white;
    --navbar-host-inverted-bg-color: #EDF1F2;
    --navbar-options-btn-color:#5A5E73;
    
    --search-input-bg-color:#EDF1F2;
    --search-connect-bg-color: #D5DDE0;
    
    --text-color: black;
    --inverted-text-color:white;
    --logo-text-color: #141729;
    
    --line: rgba(255, 255, 255, 0.04);
    
    --setting-button-color: #FFF;
    
    --main-page-color-line: rgb(0 0 0 / 17%);
    
    --input-color: #5A5E73;
    
    --select-focus-color:#2091F6;
    --select-hover-bg-color: #E6EBED;
    --select-hover-color: #2091F6;
    --select-bg-color: #E6EBED;
    --select-box-sahdow: rgba(38, 38, 38, 0.22);
    --select-line-color: rgba(0, 0, 0, 0.2);
    
    --button-primary-color: #2091F6;
    --button-primary-hover-color: #57ACF8;

    --sidebar-back-button-hover-color: rgba(0, 0, 0, 0.13);
    --sidebar-bg-color: #EDF1F2;
    --sidebar-header-bg-color: white;
    
    --form-block-bg-color:white;
    
    --server-manager-item-bg-color:white;
    --server-manager-item-hover-bg-color: rgba(164, 164, 164, 0.05);

    --navigation-directory-hover-bg-color: rgba(164, 164, 164, 0.14);
}