.dropDownPanel{
    overflow: visible;
    position: relative;
}

.dropDownPanel_items{
    position: absolute;
    top: 50px;
    width: 260px;
    border-radius: 3px;
    transition: opacity .3s , visibility .3s;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(9px);
    box-shadow: 0px 0px 1px 1px rgba(113, 112, 112, 0.233);
    
    padding: 6px;
    z-index: 60;
}

.clear{
    background-color:rgba(255, 255, 255, 0.803);
}

.dark{
    background-color:rgba(33, 33, 33, 0.803);
}

.close{
    visibility: hidden;
    opacity: 0;
}
.open{
    opacity: 1;
    visibility: visible;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.top_left{
    top: -30px;
    left:0;
}

.top_right{
    top: -30px;
    right: 0;
}

