.select_inner{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.select_block{
  position: relative;
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  
  &.active .select_header{
    color: var(--select-hover-color);
  }

  &.active .select_icon path{
    fill: var(--select-hover-color);
  }

  &.active .header_icon path{
    fill: var(--select-hover-color);
  }
  
  &.selected .select_header{
    color: var(--select-hover-color);
  }

  &.selected .select_icon path{
    fill: var(--select-hover-color);
  }

  &.selected .header_icon path{
    fill: var(--select-hover-color);
  }
  
  &.active .select_icon{
    transform: rotate(0deg);
  }

  &.active .select_options{
    opacity: 1;
    visibility: visible;
  }

  &.active .select{
    background-color: var(--select-hover-bg-color);
    border: 1px solid var(--select-hover-color);
  }
}

.error_label h4{
  font-size: 12px;
}

.select{
  width: 100%;
  border: 1px solid var(--input-color);
  border-radius: 5px;
  padding: 7px 10px;
  display: flex;
  transition: all .2s;
  background-color: transparent;

  &:hover{
    background-color: var(--select-hover-bg-color);
    border: 1px solid var(--select-hover-color);
  }

  &:hover .select_header{
    color: var(--select-hover-color);
  }

  &:hover .select_icon path{
    fill: var(--select-hover-color);
  }

  &:hover .header_icon path{
    fill: var(--select-hover-color);
  }
  
  &.error{
    border: 1px solid crimson;
  }
}


.select_header{
  font-size: 12px;
  color: var(--input-color);
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color .2s;
  width: 100%;
  justify-content: space-between;
}

.select_icon{
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  transition: transform .3s;
}

.select_icon path{
  transition: fill .2s;
  fill: #676A79;
}

.header_content{
  display: flex;
  gap: 7px;
  font-size: 14px;
}

.header_icon{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_icon path{
  transition: fill .2s;
  fill: #676A79;
}

.select_options{
  width: 100%;
  min-height: 35px;
  max-height: 140px;
  overflow-y: auto;
  background-color: var(--select-bg-color);
  position: absolute;
  top: 40px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 0.5px 0.5px var(--select-box-sahdow);
  z-index: 150;
  
  &.empty_options{
    align-items: center;
    height: 50px;
  }

  &:hover::-webkit-scrollbar{
    width: 5px;
  }

  &::-webkit-scrollbar{
    width: 0;
  }

  &::-webkit-scrollbar-track{
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb{
    background-color: rgba(90, 94, 115, 0.57);
    border-radius: 5px;
  }
}

.select_null{
  color: var(--input-color);
  text-align: center;
  margin-top: 12px;
  font-size: 15px;
}

.selectItem{
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 9px 12px;
  width: 100%;
  transition: all .3s;
  
  &.selected{
    background-color: var(--select-line-color);
  }
  
  &:hover{
    background-color: var(--select-line-color);
  }
  
  &:nth-child(n+1){
    border-bottom: 1px solid var(--select-line-color);
  }
  
  &:nth-last-child(1){
    border-bottom: none;
  }
  
  &:hover .item_title{
    color: white;
  }
  
  &:hover .server_icon path{
    fill: white;
    stroke: white;
  }
}

.server_icon path{
  fill: var(--text-color);
  stroke: var(--text-color);
  transition: all .3s;
}

.item_title{
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  transition: all .3s;
}

.common{
  display: flex;
  align-items: center;
  gap: 5px;
}

.cancel{
  width: 20px;
  height: 20px;
}

.cancel path{
  stroke: crimson;
}