.formBlock{
  background-color: var(--form-block-bg-color);
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header{
  font-weight: 600;
  color: var(--text-color);
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.content{
  width: 100%;
}