@model Application.Layers.MessageQueues.SendCodeToResetPassword.SendCodeToResetPasswordEvent

<div class="MessageBody_body_pmf3j react-message-wrapper__body">
    <div style="background:#EDF1F2;margin:0;padding:0">
        <div style="background-color:#EDF1F2">

            <div style="background:none;margin:0px auto 0px auto;max-width:640px">
                
                <table align="center" border="0" cellpadding="0" cellspacing="0"
                    style="background:none;border-collapse:collapse;font-size:0px;width:100%">
                    <tbody>
                        <tr>
                            <td
                                style="border-collapse:collapse;direction:ltr;font-size:0px;padding:40px 0px 40px 0px;text-align:center;vertical-align:top">
                                <div class="7dd55e10b4698b3mj-column-per-100 60dc4e539abef294outlook-group-fix"
                                    style="direction:ltr;display:inline-block;font-size:13px;text-align:left;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td align="center"
                                                    style="border-collapse:collapse;font-size:0px;padding:0px;word-break:break-word">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                        style="border-collapse:collapse;border-spacing:0px">
                                                        <tbody>
                                                            <tr>
                                                                <td style="border-collapse:collapse;width:138px"><a
                                                                        href=""
                                                                        target="_blank"
                                                                        style="color:#1eb0f4;text-decoration:none"
                                                                        data-link-id="1" rel="noopener noreferrer"><img
                                                                            alt="alt"
                                                                            src="https://i.postimg.cc/jSP76st9/image.png"
                                                                            title="title" width="350"
                                                                            style="border:0;text-decoration:none"></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="border-radius:4px;margin:0 auto 0 auto;max-width:640px;overflow:hidden">
                <div style="background:#ffffff;margin:0px auto 0px auto;max-width:640px">
                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                        style="background:#ffffff;border-collapse:collapse;font-size:0px;width:100%">
                        <tbody>
                            <tr>
                                <td
                                    style="border-collapse:collapse;direction:ltr;font-size:0px;padding:40px 50px 40px 50px;text-align:center;vertical-align:top">
                                    <div class="7dd55e10b4698b3mj-column-per-100 60dc4e539abef294outlook-group-fix"
                                        style="direction:ltr;display:inline-block;font-size:13px;text-align:left;vertical-align:top;width:100%">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                            style="border-collapse:collapse">
                                            <tbody>
                                                <tr>
                                                    <td align="left"
                                                        style="border-collapse:collapse;font-size:0px;padding:0px;word-break:break-word">
                                                        <div
                                                            style="color:#737f8d;font-family:'helvetica neue' , 'helvetica' , 'arial' , 'lucida grande' , sans-serif;font-size:16px;line-height:24px;text-align:left">

                                                            <h2
                                                                style="color:#000000;font-family:'helvetica neue' , 'helvetica' , 'arial' , 'lucida grande' , sans-serif;font-size:20px;font-weight:500">
                                                                Сброс пароля @Model.Email</h2>
                                                            <p style="display:block;margin:13px 0 13px 0">
                                                                Был сделан запрос на восстановление пароля на RemotePowerLink <br> 
                                                                Если вы не делали этого запроса, просто проигнорируйте это письмо
                                                            </p>

                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                                <tr><td align="left"
                                                    style="border-collapse:collapse;font-size:0px;padding:0px;word-break:break-word">
                                                    <div
                                                        style="color:#737f8d;font-family:'helvetica neue' , 'helvetica' , 'arial' , 'lucida grande' , sans-serif;font-size:16px;line-height:24px;text-align:left;margin-top:30px">

                                                        <h2
                                                            style="color:#000000;font-family:'helvetica neue' , 'helvetica' , 'arial' , 'lucida grande' , sans-serif;font-size:20px;font-weight:500">
                                                            Код сброса пароля</h2>
                                                        <p style="display:block;margin:13px 0 13px 0">@Model.VerificationCode</p>

                                                    </div>
                                                </td></tr>
                                                <tr>
                                                    <td
                                                        style="border-collapse:collapse;font-size:0px;padding:30px 0px 30px 0px;word-break:break-word">
                                                        <p
                                                            style="border-top-color:#dcddde;border-top-style:solid;border-top-width:1px;display:block;font-size:1px;margin:0px auto 0px auto;width:100%">
                                                        </p>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="background:none;margin:0px auto 0px auto;max-width:640px">
            
                <table align="center" border="0" cellpadding="0" cellspacing="0"
                    style="background:none;border-collapse:collapse;font-size:0px;width:100%">
                    <tbody>
                        <tr>
                            <td
                                style="border-collapse:collapse;direction:ltr;font-size:0px;padding:20px 0px 20px 0px;text-align:center;vertical-align:top">
                                <div class="7dd55e10b4698b3mj-column-per-100 60dc4e539abef294outlook-group-fix"
                                    style="direction:ltr;display:inline-block;font-size:13px;text-align:left;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        style="border-collapse:collapse">
                                        <tbody>
                                            
                                            <tr>
                                                <td align="left"
                                                    style="border-collapse:collapse;font-size:0px;padding:0px;word-break:break-word">
                                                    <div
                                                        style="color:#000000;font-family:'helvetica neue' , 'helvetica' , 'arial' , 'lucida grande' , sans-serif;font-size:13px;line-height:22px;text-align:left">
                                                      
                                                        <img height="1"
                                                            src="https://resize.yandex.net/mailservice?url=https%3A%2F%2Fdiscord.com%2Fapi%2Fscience%2F356358580280098817%2Fb9faecf9-3fa6-40ea-ad24-9cf5516d9c57.gif%3Fproperties%3DeyJlbWFpbF90eXBlIjogInVzZXJfdmVyaWZ5X2VtYWlsIn0%253D&amp;proxy=yes&amp;key=ba7be98c33587e4282e4bc37f64b4756"
                                                            width="1"
                                                            style="border:0;height:auto;line-height:100%;text-decoration:none">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <img border="0" height="1"
            src="https://resize.yandex.net/mailservice?url=https%3A%2F%2Fclick.discord.com%2Fwf%2Fopen%3Fupn%3DO8DuAaxLr1Dpx-2FLjuHlc6dkzRzPI2iCH-2Bxw8NbWPjjBJlpemvJJ5d8EYmwh03pK-2B7nmIl2rC78uHEKFgcvroBFP7P5OP3dNC516omKvGDwY-2BwpPfsqT9ofKGGLAmE6fQNA3O5X-2B7kw2AsWBEFH8u7rGY1n5E7d0i4xsJC-2FMcAgBRSXZf6fjQk2SO2HnfYq9segGc-2FtReHlfUgnkbunKflPIAIPaye6qRxvwGjjuYIpnKrv5FSBKPAFRQKXbuAnoBE0HHQDpXp1gB2GZCjnZSzw-3D-3D&amp;proxy=yes&amp;key=72833e0a3dae3b07d5a16982fbdfcdd2"
            width="1"
            style="border:none;border-bottom-width:0 !important;border-left-width:0 !important;border-right-width:0 !important;border-top-width:0 !important;height:1px !important;line-height:100%;margin-bottom:0 !important;margin-left:0 !important;margin-right:0 !important;margin-top:0 !important;padding-bottom:0 !important;padding-left:0 !important;padding-right:0 !important;padding-top:0 !important;text-decoration:none;width:1px !important">
    </div>
</div>