.active{
  transform: translateX(0px);
}

.identity_block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.address_block{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.general_block{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.save_block{
  background-color: var(--sidebar-bg-color);
  height: 70px;
  width: 100%;
  padding-right: 10px;
  border-top: 1px solid var(--line);
}

.port_input svg{
  fill: var(--input-color);
}

.port_input path{
  stroke: var(--input-color);
}

.title_input path{
  fill: var(--input-color);
}

.icon_server{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#004878 ;
  border-radius: 5px;
  flex-shrink: 0;
}

.icon_server path{
  fill: var(--setting-button-color);
}