.dropDownPanel_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border:none;
    border-radius: 50%;
    padding: 0;
    z-index: 70;
}

.active_button{
    background-color: rgb(255 255 255 / 20%);
}

.icon{
    width: 27px;
    height: 27px;
    flex: 0 0 27px;
    mask-repeat: no-repeat;
    mask-size: cover;

    --webkit-mask-repeat:no-repeat;
    --webkit-mask-size:cover;

    background-size: cover;
}

.dropDownPanel_button:hover{
    background-color: rgb(255 255 255 / 20%);
}