.dropDownPanel_item{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    padding: 7px 10px;
    border-radius: 2px;
}   

.clear:hover{
    background-color: rgb(58 58 58 / 12.1%);
}

.dark:hover{
    background-color: rgb(255 255 255 / 12.1%);
}

.dropDownPanel_item_inner{
    display: flex;
    align-items: center;
    gap: 15px;
}

.text{
    color: white;
    font-weight: 700;
    font-family: Inter,sans-serif;
    font-size: 15px; 
}